.container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.newsletter {
    color: grey;
    border: solid thin #cfcfcf;
    padding: 10px;
    border-radius: 3px;
    padding-bottom: 20px;
    position: relative;
}
.newsletter button {
    background-color: #3cb878;
    color: white;
    border: none;
    display: block;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}
.newsletter input#email{
    display: block;
    width: 100%;
    height: 30px;
    margin-bottom: 4px;
    border: solid #cfcfcf 1px;
    border-radius: 3px;
    padding: 0px;
}
.newsletter #terms{
    position: relative;
    top: 1px;
}
.newsletter #closex {
    position: absolute;
    top: 0;
    right: 4px;

}
.newsletter h3{
    margin-top:0px;
}
button:hover{
    background-color: rgb(106, 177, 0);
    cursor: pointer;
}       
h1 {
    text-align:center;
}
html {
    font-family: 'Open Sans', sans-serif;
}
