.container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
}
.newsletter {
    color: grey;
    border: solid thin #cfcfcf;
    padding: 10px;
    border-radius: 3px;
    padding-bottom: 20px;
    position: relative;
}
.newsletter button {
    background-color: #3cb878;
    color: white;
    border: none;
    display: block;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}
.newsletter input#email{
    display: block;
    width: 100%;
    height: 30px;
    margin-bottom: 4px;
    border: solid #cfcfcf 1px;
    border-radius: 3px;
    box-sizing: border-box;
}
.newsletter #terms{
    position: relative;
    top: 1px;
}
.newsletter #closex {
    position: absolute;
    top: 0;
    right: 4px;

}
.newsletter h3{
    margin-top:0px;
}
button:hover{
    background-color: rgb(106, 177, 0);
    cursor: pointer;
}       
h1 {
    text-align:center;
}
html {
    font-family: 'Open Sans', sans-serif;
}
#questionmark {
    box-shadow: 0 0 4px 4px gray;
    background-color: #3cb878;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 70px;
    text-align: center;
    color: white;
    bottom:10px;
    right: 10px;
    position: fixed;
}
.card {
    box-shadow: 0 0 7px 2px gray;
    padding: 20px 0;
    text-align: center;
    color: white;
    width: 180px;
    margin-bottom: 40px;
    background-color: #3cb878;
}
.card h3 {
    margin-bottom: 0px;
    margin-top: 10px;
}
#card-holder {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}